    .gallery {
    display: flex;
    flex-direction : column;
    justify-content: center;
    background-color: rgb(1, 54, 1);  
 }

    .child{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(59, 59, 56);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .videocard{
        background-color:   whitesmoke;
        border: 2px solid black;
        border-radius: 10px;
        width: 300px;
        padding: 10px;
        box-shadow:0 0 6px rgba(0,0,0,0.3);
        transition: 0.3s;
    }
   
    .videocard video {
        width:100%;
        height: 180px;
        border-radius: 8px;
        object-fit: cover;
    }
    .controls{
        margin-top: 10px;
    }
    button{
        margin: 3px;
        background-color: blue;
        color: white;
        border-radius: 5px;
        padding: 8px 10px;
        border: none;
        cursor: pointer;
    }
    button:hover{
        background-color: green;
    }
    p{
    margin-top: 8px;    
    color:aquamarine;
    font-weight: bold;

    }
     
    .video-card.fullwidth {
        width: 100%;
    }